extends layout
block content

	style.
		#data-list {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
		}
		#data-list td, #data-list th {
		border: 1px solid #ddd;
		padding: 8px;
		}
		#data-list tr:nth-child(even){background-color: #f2f2f2;}
		#data-list tr:hover {background-color: #ddd;}
		#data-list th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #FFA500;
		color: white;
		}
	
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	
	nav.navbar.navbar-default
		.container-fluid
				.navbar-header
					a.navbar-brand(href='#') Scoreboard
				ul.nav.navbar-nav
					li
						a(href='/') Home
					li.active
						a(href='/showBoard') Board List
	.jumbotron
		h1(style='text-align:center;color:orange;text-decoration:underline') Boards
		a(href="/boards/create") Create Board
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	table(id='data-list')
		tr
			th Board Title 
	button(type="button" class="btn btn-primary" onclick="getNextBoards()") Next
	script.
		var currentIdx = 0;
		function getNextBoards()
		{
		    console.log(currentIdx);
		    $.ajax({url: "/getBoardsRange",
			    data: "currentIdx="+currentIdx,
			    dataType: 'json',
			    success: function(data) {
			    $.each(data, function(i, item)
				{
				var $tr = $('<tr>').append($('<td>').append($('<a>').text(item.name).attr("href", "/boards/" + item.board_id))).appendTo('#data-list')
				}
			    );
			}
			}
			);
			currentIdx = currentIdx + 10;
		}
		$(document).ready(function() {
		     getNextBoards()
		});



