extends layout
block content

	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				a.navbar-brand(href='#') Scoreboard
			ul.nav.navbar-nav
				li
					a(href='/') Home
				li
					a(href='/boards') Board List
	form(method="POST", action="/boards/create")
		input(type='text', name='title', value='')
		input(type='number', name='default_elo', value="1500")
		input(type='number', name='default_rd', value="200")
		input(type='number', name='default_vol', value="0.06")
		input(type='number', name='tau', value="0.5")
		input(type='submit', value='Create Board')
