extend layout

block content
  body
    div(id="map" style="width:400px;height:400px;background:yellow" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkPpj4Yy3R7N78gJ8TZY5j4YJUBCu5QsM&callback=myMap")
script.
    function Map() {
      for(let match of #{matches}){
      }
      var mapOptions = {
          center: new google.maps.LatLng(50,50),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.HYBRID
      }
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
    console.log("BUBA DA HUT")
    window.onload=geoFindMe;
