block content
    h3 Register #{title}
    if errors
        each error in errors
            div(class='alert alert-danger' role='alert') #{error.msg}
    form(method="POST", action="../register") 
        .form-group
            label(for="displayname") Display name:
            input.form-control(name="displayname",required, autocomplete='off')
        .form-group
            label(for="username") Username:
            input.form-control(name="username",required, autocomplete='off')
        .form-group
            label(for="password") Password:
            input.form-control(name="password",required, autocomplete='off')
        .form-group
            label(for="passwordMatch") Confirm password:
            input.form-control(name="passwordMatch",required,autocomplete='off')
        .form-group
            button.btn.btn-primary(type="submit") Submit