extends layout

block content
	link(rel='stylesheet', href='/stylesheets/login.css')
	.container
		a(href='/login') Already have an account?
		h1 Register Account
		form#join-us(method='POST', action='../login')
			.fields
				span
					input(name='displayname', placeholder='Display Name', type='text')
				br
				span
					input(name='username', placeholder='Username', type='text')
				br
				span
					input(name='password', placeholder='Password', type='password')
				br
				span
					input(name='passwordMatch', placeholder='Retype Password', type='password')
				br
			.submit
				input.submit(value='Submit', type='submit')