extends layout
block content
	style.
		#data-list {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
		}
		#data-list td, #data-list th {
		border: 1px solid #ddd;
		padding: 8px;
		}
		#data-list tr:nth-child(even){background-color: #f2f2f2;}
		#data-list tr:hover {background-color: #ddd;}
		#data-list th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #FFA500;
		color: white;
		}
	style.
		#board_changes {
		margin-right: 20px;
		margin-left: 20px;
		padding: 0;
		list-style-type: none;
		overflow: hidden;
	
		text-align: center;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
		}

		#board_changes li {
		display: inline-block;
		margin-left: 30px;
		margin-top: auto;
		}
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				a.navbar-brand(href='#') Scoreboard
			ul.nav.navbar-nav
				li
					a(href='/') Home
				li
					a(href='/boards') Board List
	.jumbotron
		h1(style='text-align:center;color:orange;text-decoration:underline') User Board
		p(style='text-align:center;color:gray') Board: #{board.name}
		div(style='text-align:center')
			ul(id='board_changes')
				li
					a(href='/boards/' + board.board_id + '/matches') Match List 
				li
					a(href='/boards/' + board.board_id + '/adduser') Add a user 
				li
					a(href='/boards/' + board.board_id + '/addmatch') Report results of a match
	table(id='data-list')
		tr
			th User
			th Elo
		each user in users
			tr
				td #{user.name}
				td #{user.elo}
