extends layout

block content
	link(rel='stylesheet', href='/stylesheets/login.css')
	.container
		a(href='/register') Create Acount
		h1 Scoreboard Login
		form#join-us(method='POST', action='../login')
			.fields
				span
					input(placeholder='Name', type='text')
				br
				span
					input(placeholder='Password', type='password')
			.submit
				input.submit(value='Submit', type='button')