extends layout

block content
	link(rel='stylesheet', href='/stylesheets/login.css')

	.container
		if err
			each error in err
				p(class='alert alert-danger' role='alert') #{error.msg}
		a(href='/register') Don't have an account?
		h1 Scoreboard Login
		form#join-us(method='POST', action='../login')
			.fields
				span
					input(name='username', placeholder='Name', type='text')
				br
				span
					input(name='password', placeholder='Password', type='password')
				br
			.submit
				input.submit(value='Submit', type='submit')